<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>
      How does AuthorMetrics handle first names, middle names, family names,
      non-western names?
    </h2>
    <div class="d-flex mt-2 mb-4">
      ><%= link_to 'Home', root_path, class: 'mx-1' %>><%= link_to 'F.A.Q.', faq_path, class: 'mx-1' %>
    </div>
    <p>
      The dblp dataset does not differentiate the parts of a given name into
      first, middle, or family name, even if the author's cultural background
      allows for such categories. This means, most of the time we simply do not
      know this kind of information. In some places of our website (e.g., when
      sorting by "last name"), we try to heuristically guess the family name as
      the last part of a name string (excluding "Jr.", "II", "III", etc.). Of
      course, this is not always correct.
      <br /><br />
      Whenever possible, we include an author's middle name(s), although most of
      the time just as abbreviated initial(s). Middle names are very helpful to
      distinguish homonyms.
      <br /><br />
      In some cultural backgrounds, names are traditionally used in the order
      'family-name given-name' (e.g., Chinese, Japanese, and Korean names).
      Nevertheless, in dblp, we try to store a name according to the western
      convention; although, we have to admit that we may not always correctly
      know which part of a name is a family name or a given name. The correct
      handling of non-western names is still a challenge for western digital
      libraries.
    </p>
  </body>
</html>
