<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>How complete is AuthorMetrics</h1>
    <div class="d-flex mt-2 mb-4">
      ><%= link_to 'Home', root_path, class: 'mx-1' %>><%= link_to 'F.A.Q.', faq_path, class: 'mx-1' %>
    </div>
    <p>
      Short Answer: AuthorMetrics is still pretty incomplete, and will probably ever stay
      so.
      <br /><br />
      Long Answer:
      <br /><br />
      The AuthorMetrics team strives to provide an as comprehensive as humanly possible
      computer science bibliography, but true completeness can (of course) never
      be reached. We have a rather small team of editors and a pretty rigorous
      process of quality checking all new additions to AuthorMetrics, and each day a huge
      amount of new scholarly works is released to the public. Hence, our
      resources are limited, and so we have to inevitably select and prioritize
      some possible additions over another. There are usually three major
      factors that are limiting the comprehensiveness of AuthorMetrics:
    </p>
    <br />
    <ul>
      <li>
        AuthorMetrics is a bibliography focused on topics from computer science. However,
        where a field of research starts or where it ends is up to debate, and a
        lot of scholarly work takes place in interdisciplinary or hybrid fields.
        Hence, since we have to draw a line somewhere, interdisciplinary fields
        will probably never be covered as comprehensively as we aim to do with
        core computer science fields.
      </li>
      <li>
        But even just in core computer science, the vast amount of scholarly
        works is too much for a small team and a quality focused workflow like
        ours. Hence we aim to tackle our task in a top down approach by
        assessing which volumes and issues are of the most interest to the
        general, international computer science community. This decisions are
        guided by the criteria and principles defined by our advisory board. But
        they are often tough calls, and made case by case.
      </li>
      <li>
        Finally, but maybe even most importantly, the availability of open
        bibliographic metadata (or, rather, the lack thereof) is always limiting
        factor for our indexing decisions. We cannot index what we cannot find
        and reproduce from reliable, open sources. Although the situation has
        improved in the recent years, this is still a limitation for a
        remarkable large fraction of all indexing requests we receive.
      </li>
    </ul>
    <br />
    <p>
      Although we ourselves do not have any metric or study to answer this
      question with scientific rigor, there exist a number of scholarly articles
      that discuss the issue of the completeness of AuthorMetrics. However, those studies
      are several years old, and a lot has improved with regard to our coverage
      during the recent years.
    </p>
  </body>
</html>
