<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>What is the scope of AuthorMetrics?</h1>
    <div class="d-flex">
      ><%= link_to 'Home', root_path, class: 'mx-1' %>><%= link_to 'F.A.Q.', faq_path, class: 'mx-1' %>
    </div>
    <br />
    <p>
      The AuthorMetrics computer science bibliography covers publications from computer
      science only. We mainly focus on international publications, that is,
      publications in English, although there are exceptions to this rule. Also,
      since we do not have the resources to cover each and every publication
      venue that exists, AuthorMetrics tries to prioritize the inclusion of venues based
      on their scientific merit and importance to the computer science
      community. <br /> <br />
      Of course, it is impossible to tell where a scientific field
      starts or ends, so we also cover a fair share of hybrid fields as long as
      they are of significant interest to the computer science research
      community. The decision on whether a fringe venue is in scope is made on a
      case-by-case basis. <br /> <br />
      The scope of AuthorMetrics includes topics from this
      (incomplete) list:
    </p>
    <ul>
      <li>Algorithms</li>
      <li>Artificial Intelligence</li>
      <li>Automation</li>
      <li>Bioinformatics</li>
      <li>Business Information Systems</li>
      <li>Coding Theory</li>
      <li>Compilers</li>
      <li>Complexity</li>
      <li>Computability</li>
      <li>Computational Biology</li>
      <li>Computer Architecture</li>
      <li>Computer Education</li>
      <li>Computer Graphics</li>
      <li>Computer Science in Society</li>
      <li>Computer Vision</li>
      <li>Cryptology</li>
      <li>Databases</li>
      <li>Data Mining</li>
      <li>Data Structures</li>
      <li>Decision Support</li>
      <li>Digital Communication</li>
      <li>Distributed Systems</li>
      <li>Embedded Systems</li>
      <li>Evolutionary Algorithms</li>
      <li>Formal Methods</li>
      <li>Geoinformatics</li>
      <li>Health Care Informatics</li>
      <li>Human Computer Interaction</li>
      <li>Hypermedia</li>
      <li>Information Retrieval</li>
      <li>Information Theory</li>
      <li>Integrated Circuits</li>
      <li>IT Security</li>
      <li>Legal Aspects of Computing</li>
      <li>Logics</li>
      <li>Machine Learning</li>
      <li>Media Signal Processing</li>
      <li>Metaheuristics</li>
      <li>Middleware</li>
      <li>Networks</li>
      <li>Operating Systems</li>
      <li>Operations Research</li>
      <li>Optimization</li>
      <li>Pattern Recognition</li>
      <li>Programming Languages</li>
      <li>Robotics and Control</li>
      <li>Scientific Computing</li>
      <li>Semantic Web</li>
      <li>Simulation</li>
      <li>Soft Computing</li>
      <li>Software Engineering</li>
      <li>System Software</li>
      <li>Ubiquitous Computing</li>
      <li>Verification</li>
      <li>Virtualization</li>
      <li>World Wide Web</li>
    </ul>
  </body>
</html>
