<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Where do I find full texts of research papers?</h1>
    <div class="d-flex mt-2 mb-4">
      ><%= link_to 'Home', root_path, class: 'mx-1' %>><%= link_to 'F.A.Q.', faq_path, class: 'mx-1' %>
    </div>
    <p>
      We are a bibliography service and not a document repository or delivery
      service. Hence, dblp does neither provide full texts nor abstracts of
      research articles.
      <br /><br />
      Usually, research papers are subject to copyright law and it would be
      illegal for dblp to provide access to the full texts. The same is true for
      the abstracts of research papers.
      <br /><br />
      Many papers indexed by dblp have been published only in printed journals
      or proceedings. You may find them in your local library or order them from
      the publisher or a commercial delivery service.
      <br /><br />
      Whenever we know of an external website that hosts an electronic edition
      of a research paper we provide a hyperlink together with the bibliographic
      meta-data. To access the electronic version of articles provided by
      publishers you may have to subscribe their service. dblp plays the role of
      an information broker which only refers you to another service provider.
      <br /><br />
      Please understand that we do not answer any requests for research papers.
    </p>
  </body>
</html>
