
<% if current_user.follows.count > 0 %>
    <ul class="d-flex mt-2">
        <% current_user.follows.each do |follow| %>
            <% author = Author.where(author_id: follow.author_id).first %>
            <% id = author.author_id %>
            <% name = author.name %>
            <li>
                <%= link_to name, author_path(follow.author_id), class:'btn btn-outline-secondary me-2' %>
            </li>
        <% end %>
    </ul>

<% else %>
    <div class="mt-2">
        Nessun autore seguito: clicca <%= link_to 'qui', authors_path %> per cercare un autore
    </div>
<% end %>