<% followed_authors = current_user.follows.includes(:author).map(&:author).sort_by(&:name) %>

<% if followed_authors.present? %>
    <ul class="d-flex mt-2">
    <% followed_authors.each do |author| %>
        <li>
            <%= link_to author.name, author_path(author.author_id), class: 'btn btn-outline-secondary me-2' %>
        </li>
    <% end %>
    </ul>
<% else %>
    <div class="mt-2">
        Nessun autore seguito: clicca <%= link_to 'qui', authors_path %> per cercare un autore
    </div>
<% end %>
