
<% if current_user.follows.count > 0 %>
<ul class="d-flex">
    <% current_user.follows.each do |follow| %>
        <% author = Author.find_by(author_id: follow.author_id) %>
        <% id = author.author_id.to_s.insert(-5, '/') %>
        <% name = author.name %>
        <li>
            <%= link_to name, author_path(id), class:'btn btn-outline-secondary me-2' %>
        </li>
    <% end %>
</ul>
<% else %>
    <p>Nessun autore seguito</p>
<% end %>