<div>
    <a href="/">Home</a>
    <h1><%= @conference['name']%></h1>
    <%= turbo_frame_tag "first_turbo_frame" do %>
        <div>
            <% @conference['editions'].keys.each do |edition| %>
                <div>
                    <%= link_to edition,
                        conference_edition_path(conference_id: @confId, id: edition, urls:@conference['editions'][edition]),
                        data: {turbo_frame: "edition_turbo_frame"}%>
                </div>
            <% end %>
        </div>
    <%end%>
    <%= turbo_frame_tag "edition_turbo_frame" do %>
        <div>Informazione edizioni </div>
    <%end%>

</div>
