<h1>Frequently Asked Questions</h1>

<h5 class="pt-2">About AuthorMetrics</h5>
<ul class="ms-5">
    <% @faq_files.each do |file_name| %>
        <% file_show = file_name.gsub("_", " ") %>
        <li>
            <%= link_to file_show, show_faq_path(file_name: file_name), class: 'link-secondary link-underline-opacity-0 link-underline-opacity-100-hover' %>
        </li>
    <% end %>
</ul>