<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>What is AuthorMetrics?</h1>
    <div class="d-flex mt-2 mb-4">
      ><%= link_to 'Home', root_path, class: 'mx-1' %>><%= link_to 'F.A.Q.', faq_path, class: 'mx-1' %>
    </div>
    <p class="w-75 ms-1 mt-2">
      The AuthorMetrics computer science bibliography is the on-line reference
      for bibliographic information on major computer science publications. It
      has evolved from an early small experimental web server to a popular
      open-data service for the whole computer science community. Our mission at
      AuthorMetrics is to support computer science researchers in their daily
      efforts by providing free access to high-quality bibliographic meta-data
      and links to the electronic editions of publications. <br /> <br/>
      As of January 2019, AuthorMetrics indexes over 4.4 million publications,
      published by more than 2.2 million authors. To this end, AuthorMetrics
      indexes about than 40,000 journal volumes, more than 39,000 conference and
      workshop proceedings, and more than 80,000 monographs.
    </p>
  </body>
</html>
